.comment{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.score-btns{
    flex: 1;
    height: 100px;
}

.comment-content{
    flex: 14;
}

.comment-desc{
    text-align: justify;
    color: #666;
}

@media not all and (min-width: 1024px) {
    .comments{
        width: 97%;
    }

    .comments .replies{
        width: 96%;
    }

    .comments .replies .reply{
        width: 95%;
    }
}

